*{
  margin: 0;
}
body{
  background-color: #333;
  color: white;
}
.textarea{
  width: 100%;
  font-size: 22px;
  padding: 20px;
  border-radius: 0px 20px;
  outline: none;
}
.textarea:focus{
  box-shadow:  0px 0px 3px 3px royalblue;
}
#preview{
  padding: 4px;
  text-align: left;
  background-color: rgb(110, 67, 142);
  color: black;
  border: 1px solid black;
  box-shadow: 1px 1px 5px 1px grey;
  border-radius:  20px 0px ;
 
}
#preview code{
  background-color:#fff ; 
  border-radius:  4px ;
  padding: 5px 0px;
  font-size: 12px; 
  font-weight: bold;
 
}
#preview pre{
  
   background-color:#fff;
  padding: 10px;

 
 
}